<form class="uk-form">
    <fieldset data-uk-margin>
        <legend>Novo Jogo</legend>
        <input type="text" placeholder="Frente">
        <input type="text" placeholder="Verso">
        <button class="uk-button">Criar</button>
    </fieldset>
</form>
